/*** uncss> filename: css/main.css ***/

/* CSS Reset */

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
ul,
li,
form,
figcaption,
figure,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

figcaption,
figure,
footer,
header,
nav {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a {
  outline: none;
}

a img {
  outline: none;
}

a:hover {
  color: #89AF4A;
  -webkit-transition: color 0.4s ease, text-decoration 0.4s ease;
  -moz-transition: color 0.4s ease, text-decoration 0.4s ease;
  -o-transition: color 0.4s ease, text-decoration 0.4s ease;
  -ms-transition: color 0.4s ease, text-decoration 0.4s ease;
  transition: color 0.4s ease, text-decoration 0.4s ease;
}

img {
  border: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Verdana, sans-serif, Arial;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5em;
  background: #282828;
}

#wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 95%;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
  #wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  #wrapper {
    width: 100%;
    padding: 10px;
  }
}

header#mainHeader {
  margin-top: 30px;
  overflow: auto;
}

header#mainHeader #mobileMenu {
  display: none;
}

header#mainHeader a.logoLink {
  background: #000000;
  padding-left: 8%;
  display: block;
}

header#mainHeader a.logoLink .logoImage {
  display: block;
}

@media screen and (max-width: 480px) {
  header#mainHeader {
    margin-top: 0px;
  }

  header#mainHeader a.logoLink {
    padding-left: 40px;
  }

  header#mainHeader #mobileMenu {
    background-color: #3a3a3a;
    display: block;
    width: 100%;
    height: 36px;
  }

  header#mainHeader #mobileMenu span {
    float: right;
    cursor: pointer;
    height: 36px;
  }
}

nav#desktopNav {
  display: inline-block;
  width: 100%;
  padding-left: 8%;
  background: #3a3a3a;
}

nav#desktopNav a.selected {
  color: #89AF4A;
}

nav#desktopNav ul {
  width: 100%;
  line-height: 55px;
}

nav#desktopNav ul li {
  display: inline-block;
  border-left: 1px solid #4c4c4c;
}

nav#desktopNav ul li a {
  font-size: 13px;
  display: block;
  text-align: center;
  margin: 0 28px;
}

nav#desktopNav ul li:last-child {
  border-right: 1px solid #4c4c4c;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
  nav#desktopNav ul li a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  nav#desktopNav {
    border: 0;
    margin: 0 auto;
    width: 100%;
    display: none;
    padding: 0 40px 20px 36px;
  }

  nav#desktopNav ul li {
    display: inline;
    border: 0;
  }

  nav#desktopNav ul li a {
    border-bottom: 1px solid #00DEFF;
    text-align: left;
    margin: 0;
    line-height: 25px;
    padding: 12px 0;
  }

  nav#desktopNav ul li:last-child {
    border-right: 0;
  }

  nav#desktopNav ul li:last-child a {
    border-bottom: 0;
  }
}

footer {
  height: 130px;
  background: #000000;
  clear: both;
  padding-top: 50px;
  margin-bottom: 30px;
}

footer p.copyrightCopy {
  float: left;
  margin-left: 200px;
  padding-top: 15px;
  font-size: 16px;
}

footer .retailers {
  float: right;
  margin-right: 200px;
}

footer .retailers li {
  display: inline-block;
  float: left;
  padding-right: 5px;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
  footer p.copyrightCopy {
    margin-left: 10%;
  }

  footer .retailers {
    margin-right: 10%;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding-top: 40px;
  }

  footer p.copyrightCopy {
    margin-left: 10px;
    font-size: 13px;
  }

  footer .retailers {
    margin-right: 10px;
  }
}

#heroImage {
  background: url(../img/hero.jpg) no-repeat center;
  height: 470px;
}

#heroImage .mediaList {
  float: right;
  overflow: auto;
  padding-top: 20px;
}

#heroImage h1.heroHeading {
  font-size: 68px;
  padding: 260px 0 40px 0;
  line-height: 63px;
  text-align: center;
}

#heroImage span {
  color: #c70071;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
  #heroImage h1.heroHeading {
    font-size: 50px;
    line-height: 50px;
    padding-top: 300px;
  }
}

@media screen and (max-width: 480px) {
  #heroImage {
    background-position: top;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-color: #525252;
    height: auto;
  }

  #heroImage .mediaList {
    display: none;
  }

  #heroImage h1.heroHeading {
    font-size: 24px;
    padding: 214px 0 20px 0;
    line-height: 26px;
  }
}

#promos {
  background-image: url(../img/promos_background.jpg);
  background-size: 100%;
  background-repeat: repeat;
}

#promos .promosList {
  text-align: center;
  padding: 40px 0;
}

#promos .promosList li {
  display: inline-block;
  padding-right: 60px;
}

#promos .promosList li figure a {
  display: block;
}

#promos .promosList li figure a figcaption {
  font-size: 18px;
}

#promos .promosList li:last-child {
  padding-right: 0;
}

#promos .promosList li:nth-child(2) {
  padding-right: 45px;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
  #promos .promosList li,
  #promos .promosList li:nth-child(2) {
    padding-right: 0;
  }

  #promos .promosList li:first-child {
    padding-right: 12px;
  }
}

@media screen and (max-width: 480px) {
  #promos .promosList li {
    display: block;
    padding-bottom: 30px;
  }

  #promos .promosList li,
  #promos .promosList li:nth-child(2) {
    padding-right: 0;
  }
}

#search {
  text-align: center;
  background-color: #000000;
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
}

#search button {
  border: none;
  background: none;
  position: relative;
  top: 4px;
  left: -27px;
  cursor: pointer;
}

#search input[type=text] {
  position: relative;
  left: 21px;
  width: 45%;
  padding: 5px 40px 5px 12px;
  margin: 10px 0px 12px 0;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  font-size: 18px;
  color: #000000;
  border: 1px solid #000000;
}

#introCopy {
  background-color: #525252;
  text-align: center;
  padding: 35px 0;
}

#introCopy h2 {
  font-size: 18px;
  padding: 0 0 20px 0;
}

#introCopy p {
  font-size: 14px;
  margin: 0 200px;
}

#introCopy p a {
  text-decoration: underline;
}

@media screen and (min-width: 480px) and (max-width: 980px) {
  #search input[type=text] {
    width: 60%;
  }

  #introCopy h2,
  #introCopy p {
    width: 80%;
    margin: 0 auto;
  }

  #introCopy p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  #search input[type=text] {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #introCopy h2,
  #introCopy p {
    width: 80%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
